# Python Data Structures and Boolean

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

## Boolean Variables

- True or False

In [1]:
print(True,False)

True False

In [3]:
type(True)

bool

In [17]:
str="Iresh123"

In [18]:
str.istitle()

True

In [19]:
# check if alphaneumeric
print(str.isalnum())

# check if all char in the string are alphabets
print(str.isalpha())

# check if string contains digits
print(str.isdigit())

#test if string contains title words-> first letter is capital
print(str.istitle()) 

#test if string contains upper case
print(str.isupper()) 

#test if string contains lower case
print(str.islower())

 #test if string contains spaces
print(str.isspace())

#test if string endswith a d
print(str.endswith('3')) 

#test if string startswith I
print(str.startswith("I"))

True
False
False
True
False
False
False
True
True

## Boolean and Logical operations

In [21]:
print(True and False)
True or False

False

True

### Lists

Lists:

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [22]:
type([])

list

In [23]:
list_example=[]
type(list_example)

list

In [24]:
# To create a list -> empty
lst=list()

In [25]:
type(lst)

list

In [26]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [27]:
len(lst)

6

### Append or update in list

In [28]:
#.append is used to add elements in the list
lst.append("Iresh")

In [29]:
print(lst)

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Iresh']

In [36]:
lst.append(["John","Bala"]) # nested list -> list within the list

In [37]:
print(lst)

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Iresh', ['John', 'Bala'], ['John', 'Bala']]

In [38]:
lst[1:] # from lst[1] to all

['chemistry', 100, 200, 300, 204, 'Iresh', ['John', 'Bala'], ['John', 'Bala']]

In [39]:
lst[1:6] # from lst[1] to lst[5] -> n-1

['chemistry', 100, 200, 300, 204]

### Insert in list at any index

In [40]:
## insert in a specific order

lst.insert(2,"Data")

In [41]:
lst

['Mathematics',
 'chemistry',
 'Data',
 100,
 200,
 300,
 204,
 'Iresh',
 ['John', 'Bala'],
 ['John', 'Bala']]

### Extend Method

In [47]:
lst=[1,2,3,4,5,6]
lst

[1, 2, 3, 4, 5, 6]

In [48]:
# for seperated insertion i.e. not as in nested list
lst.extend([8,9])
lst

[1, 2, 3, 4, 5, 6, 8, 9]

### Various Operations that we can perform in List

In [49]:
lst=[1,2,3,4,5]
sum(lst)

15

In [50]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### Pop() Method

In [51]:
lst.pop()

5

In [52]:
lst

[1, 2, 3, 4]

In [53]:
lst.pop(2)

3

In [54]:
lst

[1, 2, 4]

### count():Calculates total occurrence of given element of List

In [55]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [56]:
#length:Calculates total length of List
len(lst)

6

In [60]:
# index(): Returns the index of first occurrence.
#  Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [62]:
print(min(lst))
max(lst)

1

5

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [63]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [64]:
set_var={1,2,3,4,3}

In [66]:
set_var # No duplicate element.

{1, 2, 3, 4}

In [67]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'Avengers', 'Hitman', 'IronMan'}

set

#### Inbuilt function in sets

no indexing in sets

In [78]:
set_var.add("Hulk")
set_var

{'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [84]:

set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk'}

In [80]:
set2.intersection_update(set1)

In [81]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [87]:
# Difference set2 -set1
#-> but no update on set2
set2.difference(set1)

{'Hulk'}

In [88]:
print(set1)
print(set2)

{'Avengers', 'Hitman', 'IronMan'}
{'Avengers', 'Hulk', 'Hitman', 'IronMan'}

In [89]:
## Difference update

set2.difference_update(set1)
print(set2)

{'Hulk'}

## Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [90]:
dic={}
type(dic)

dict

In [91]:
type(dict())

dict

In [92]:
set_ex={1,2,3,4,5}

In [93]:
type(set_ex)

set

In [99]:
## Let create a dictionary
## -> ( key-value pairs->(key:value))
my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [100]:
type(my_dict)

dict

In [101]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [102]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [103]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [105]:
# We can also check both keys and values

for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [106]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [107]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [108]:
my_dict['Car1']='MAruti'
my_dict

{'Car1': 'MAruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

###  Nested Dictionaries

In [111]:
## What if the value in a key-value pair is a dictionary item(s) i.e. -> key-value

car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [110]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [112]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [113]:
print(car_type['car1']['Mercedes'])

1960

## Tuples

- not mutable and unchangeable
- no operations
- used for only once definition

In [114]:
## create an empty Tuples

my_tuple=tuple()

In [115]:
my_tuple

()

In [116]:
type(my_tuple)

tuple

In [117]:
my_tuple=()

In [118]:
my_tuple=("Krish","Ankur","John")

In [119]:
my_tuple

('Krish', 'Ankur', 'John')

In [120]:
my_tuple=("Iresh","Ankit","Jenny")

In [121]:
my_tuple

('Iresh', 'Ankit', 'Jenny')

In [122]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Iresh', 'Ankit', 'Jenny')

In [123]:
## Inbuilt function
my_tuple.count('Iresh')

1

In [124]:
my_tuple.index("Jenny")

2